{% extends 'home/base.html' %}
{% block content %}
<h2 style="display: inline-block">Files</h2>
<center style="display: inline-block; margin-left: 27%; margin-right: 22%">
  <form method="GET">
    <input type="text" name="q" value="{{ request.GET.q }}" />
    <input class="button" type="submit" value="search" />
  </form>
</center>
<h2 style="display: inline-block">
  <a style="display: inline-block" href="{% url 'upload_book' %}" class="btn btn-primary">Upload book</a>
</h2>

<table class="table mb-0">
  <thead>
    <tr>
      <th style="width: 335px; padding: 12px">name</th>
      <th>uploader</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for pdf in pdf %}
    <tr>
      <td style="width: 335px; padding: 12px">{{pdf.name}}</td>
      <td>{{pdf.uploader}}</td>
      <td>
        <a download="{{pdf.pdf.url}}" href="{{pdf.pdf.url}}" class="btn btn-primary btn-sm">Download</a>
      </td>
      <td>
        <form action="{% url 'delete' pdf.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        </form>
      </td>
      <td>
        <a href="{% url 'preview' pdf.pk %}" class="btn btn-primary btn-sm" target="_blank_">Preview</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}